#div1{
    background:rgba(214, 234, 248 );
    padding:15px 15px;
    margin-bottom:30px;
    user-select:none;
}
#boton{
    margin-top:25px;
    width:150px;
    margin-bottom:20px;

}
.container{
    padding-top:30px;
}
.container h1{
    user-select: none;
    margin-bottom:30px;
}
#form-info{
   
    margin-bottom:30px;
    
}
#form-info label >h2{
    font-size:25px;
}
#codigo{
    width:220px;
  
}
#name, #instrument, #codigo{
    border:unset;
    border-bottom:1px solid #000;
    margin-left:40px;
    outline:none;
    padding-left:10px;
    transition:all 1s;
}
#name:focus{
    background:rgba(214, 234, 248 );  
}
#instrument:focus{
    background:rgba(214, 234, 248 );
    
}
#codigo:focus{
    background:rgba(214, 234, 248 );
    
}
html{
    scroll-behavior:smooth;
}
.bxs-up-arrow-circle{
    position:fixed;
    font-size:60px;
    top:680px;
    right:15px;
    animation-name:up;
    animation-duration:3s;
    animation-iteration-count:infinite;
    border-radius:20rem;
    
}
@keyframes up{
    0%{
        box-shadow: 0 0 0 0 rgb(94, 146, 241,.7);
    }
    70%{
        box-shadow: 0 0 0 10px rgb(94, 146, 241,.0);
    }
    100%{
        box-shadow: 0 0 0 0 rgb(94, 146, 241,.0);
    }
}
#examen{
    display:none;
}
span{
    transition:all 1s;
}
span:hover{
    color:blue;
}
#s1, #s2, #s3{
    margin-left:60px;
    color:#ff0000;
    
}



#resultado-bajo{
    height:120px;
    background:rgba(231, 76, 60);
    padding-left:20px;
    padding-right:20px;
    padding-top:1px;
    border-radius:5px;
    margin-bottom:15px;
    display:none;
    
}
#resultado-medio{
    background:rgba(214, 137, 16);
    padding-left:20px;
    padding-right:20px;
    padding-top:1px;
    border-radius:5px;
    height:120px;
    margin-bottom:15px;
    display:none;


}
#resultado-excelenete{
    background:rgba(39, 174, 96 );
    padding-left:20px;
    padding-right:20px;
    padding-top:1px;
    border-radius:5px;
    height:120px;
    display:none;
    


}


/*media query*/
@media screen and (min-width:1024px){
    
    .container h1{
        
        text-align:center;

    }
}

@media screen and (max-width:414px){
   
 
    #s1, #s2, #s3{
      
        margin-top:0px;
    }
    #form-info{
        display:flex;
        flex-direction:column;
    }

    

    
}